* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.header {
    margin: 0 auto;
    background: url(./assets/featured-image-header.png) no-repeat;
    background-size: 1440px 660px;
    background-position-y: center;
    max-width: 1440px;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headupper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 85px;
    height: 80px;
}

.headupper-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
}

.moviebox {
    /* font-family: 'Source Sans Pro'; */
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    /* font-weight: bold; */
}

.search,
.login,
.signup {
    width: 110px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: 300;
    /* font-family: 'Source Sans Pro' sans-serif; */
}

.search {
    width: 20px;
    font-size: 18px;
}

.signup {
    background-color: #ff0079;
    border-radius: 4px;
}

.signup:hover {
    background-color: #ffffff;
    color: #000;
}

.headdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 85px;
}

.maininfo {}

.maintitle {
    font-size: 45px;
}

.mainsubtitle {}

.mainsubtitle,
.mainsubtitle_genre {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mainsubtitle {
    opacity: .5;
    font-weight: 200;
}

.headdown_genre__items {
    padding-right: 10px;
}

.headhr {
    width: 1px;
    height: 17px;
    ;
    background: #fff;
}

.maininfo_duration {
    padding-left: 10px;
}

.headdown_buttons_and_rating {
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.headdown_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 16px;
    line-height: 42px;
    /* margin: 25px; */
    width: 440px;
    height: 45px;
}

.headdown_btn {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 27px;
}

.btn_watchmovie {
    background-color: #ff0079;
    border-radius: 4px;
}

.btn_viewinfo {
    border: 1px solid #fff;
    border-radius: 4px;
    opacity: .9;
}

.btn_addtowishlist {
    padding: 0;
    text-align: left;
    opacity: .8;
}

.headdown_rating {
    height: 74px;
    width: 212px;
    border-radius: 4px;
    background-color: rgba(73, 76, 98, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 9px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headdown_rating_upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.headdown_rating_upper_rating {
    font-size: 15px;
    font-weight: 300;
}

.headdown_rating_upper_based {
    font-size: 12px;
    opacity: .5;
}

.headdown_rating_down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: flex-start; */
}

.fa-star {
    font-size: 18px;
    color: #ff0079;
    padding: 2px 2px;
}

.headdown_rating_ratio {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 1px 5px 3px 5px;
}

.maincontent {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: f8f8f8;
}

.maincontent_titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 85px;
    width: 100%;
    height: 89px;
    color: #80818a;
}

.maincontent_btn {
    /* height: 178px; */
    font-size: 18px;
}

.maincontent_titles_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 554px;
}

.maincontent_hr {
    width: 100%;
    height: 1px;
    background-color: #dfdfdf;
}