.shimi-container {
    background: #000;
    margin: 10px 0;
    position: relative;
    min-height: 45px;
}

.shimi-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    /*  */
    /*  */
    color: #fff;
    width: 100%;
    min-height: 45px;
    background: #000000;
    background: rgba(0, 0, 0, 0.5);
    background: -moz-linear-gradient(top, rgba(76, 76, 76, 0.8) 0%, rgba(19, 19, 19, 0.8) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(76, 76, 76, 0.8)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(76, 76, 76, 0.8) 0%, rgba(19, 19, 19, 0.8) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(76, 76, 76, 0.8) 0%, rgba(19, 19, 19, 0.8) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(76, 76, 76, 0.8) 0%, rgba(19, 19, 19, 0.8) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(76, 76, 76, 0.8) 0%, rgba(19, 19, 19, 0.8) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cc4c4c4c', endColorstr='#cc131313', GradientType=0);
    /* IE6-9 */
    border: solid 2px #999;
    border: none;
    border-bottom: solid 1px #888;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.shimi-video .shimi-controls {
    bottom: 10px;
    left: 10px;
    border-radius: 5px;
}

.shimi-controls .ui-button {
    display: block;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 25px;
    margin: 10px 10px 0 10px;
    background-image: url(controls.fw.png);
    background-repeat: no-repeat;
    border: 0;
    background-color: transparent;
    padding: 0;
}

.shimi-controls .ui-button-play {
    background-position: 0 0;
}

.shimi-controls .ui-button-pause {
    background-position: 0 -25px;
}

.shimi-controls .ui-button-unmuted {
    background-position: -25px -25px;
}

.shimi-controls .ui-button-muted {
    background-position: -25px 0;
}

.shimi-controls .ui-button-fullscreen {
    background-position: -50px 0px;
}

.shimi-controls .ui-button-exitfullscreen {
    background-position: -50px -25px;
}

.shimi-controls .ui-time {
    width: 40px;
    height: 20px;
    display: block;
    float: left;
    margin: 15px 10px 0 10px;
}

.shimi-controls .ui-time-total {
    width: 330px;
    height: 10px;
    float: left;
    margin: 18px 10px 0 10px;
    background: black;
    position: relative;
    border-radius: 2px;
}

.shimi-controls .ui-time-loaded {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    border-radius: 2px;
    background: #333333;
    /* Old browsers */
    background: -moz-linear-gradient(top, #333333 0%, #555555 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #555555));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #333333 0%, #555555 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #333333 0%, #555555 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333333 0%, #555555 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #333333 0%, #555555 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#555555', GradientType=0);
    /* IE6-9 */
}

.shimi-controls .ui-time-current {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    border-radius: 2px;
    background: #feffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #e0e0e0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffff), color-stop(100%, #e0e0e0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feffff 0%, #e0e0e0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feffff 0%, #e0e0e0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #feffff 0%, #e0e0e0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #feffff 0%, #e0e0e0 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#e0e0e0', GradientType=0);
    /* IE6-9 */
}